@media screen and (min-width: 480px) {

}

@media screen and (min-width: 535px) {
	/*** Skills ***/
	.border_skill {
		/*width: 125px;
		height: 125px;*/
	}

	.skill_banner {
		/*line-height: 100px;
		font-size: 1.1em;*/
	}
}

@media screen and (min-width: 590px) {
	/*** General ***/
	body p, ol li {
		font-size: 1.6rem;
	}

	#contact_thanks {
		font-size: 2.6rem;
	}

	h2 {
		font-size: 3.5rem;
	}

	i.fa.floating {
		color: rgba(196, 0, 16, 0.15);
		position: fixed;
		display: inline-block;
	}

	i.fa.floating:nth-child(2n) {
		color: #3967B1;
		opacity: 0.15;
	}

	/*** Portfolio Work ***/
	/*.thumbnail_container {
		margin: 15px 35px;
		height: 200px;
		width: 200px;
	}

	div.thumbnail {
		height: 200px;
		width: 200px;
	}

	div.project_skill {
		font-size: 1.0em;
	}

	div.project_skill:nth-child(1){
		top: 20px;
	}

	div.project_skill:nth-child(2){
		top: 56px;
	}

	div.project_skill:nth-child(3){
		top: 88px;
	}

	div.project_skill:nth-child(4){
		top: 120px;
	}

	div.project_skill:nth-child(5){
		top: 152px;
	}*/

    /*** About Me ***/
	.main_image_div {
		height: 150px;
		width: 150px;
	}

	.real_me p {
	    font-size: 1.8rem;
    }
	/*** Skills ***/
	.border_skill {
		/*width: 125px;
		height: 125px;*/
	}

	.skill_shell {
		width: 33.333%;
	}

	.skill_banner {
		/*line-height: 125px;
		font-size: 1.2em;*/
	}
}

@media screen and (min-width: 768px) {
	/*** General ***/
	body p, ol li {
		/*font-size: 1.8rem;*/
	}

	.home_container h1 {
		font-size: 5.5rem;
	}

	h2 {
		font-size: 4rem;
	}

	/*** Header ***/
	.navbar-header {
		float: left !important;
	}

	/*** Portfolio Work ***/
	/*.thumbnail_container {
		height: 250px;
		width: 250px;
	}

	div.thumbnail {
		width: 250px;
		height: 250px;
	}

	div.project_skill {
		font-size: 1.4em;
	}

	div.project_skill:nth-child(1){
		top: 30px;
	}

	div.project_skill:nth-child(2){
		top: 69px;
	}

	div.project_skill:nth-child(3){
		top: 108px;
	}

	div.project_skill:nth-child(4){
		top: 147px;
	}

	div.project_skill:nth-child(5){
		top: 186px;
	}
*/

    /*** About Me ***/
	.main_image_div {
		height: 200px;
		width: 200px;
	}

	.real_me p {
		font-size: 2.7rem;
	}
	
	/*** Skills ***/
	.border_skill {
		width: 150px;
		height: 150px;
	}

	.skill_banner {
		line-height: 150px;
		font-size: 1.4em;
	}

	@keyframes css_spin {									
		0% {
			transform: rotate(0deg);
		} 

		50% {
			font-size: 4.0em;
			font-weight: 800;
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.popover {
		width: 150px;
		font-size: 1.5rem;
		/*font-family: 'Roboto', sans-serif;*/
		/*font-weight: 800;*/
		/*text-align: center;*/
	}

	.wordpress_button {
		width: 62px;
		margin-bottom: 5px;
		margin-left: 3px;
	}

	/*** Contact ***/
	.form-group label {
		font-size: 1.6rem;
	}

	/*** Footer ***/
	footer {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 990px) {
	/* General */
	body p, ol li {
		font-size: 1.7rem;
	}

	.home_container h1 {
		font-size: 5.7rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	/*** About Me ***/
	.main_image_div {
		/*height: 200px;
		width: 200px;*/
	}

	/*.real_me p {
		font-size: 2.7rem;
	}*/

	p.intro {
		padding: 0 10%;
	}

	.border_skill {
		width: 175px;
		height: 175px;
	}

	.popover {
		width: 175px;
		font-size: 1.6rem;
		/*font-family: 'Roboto', sans-serif;*/
		/*font-weight: 800;*/
		/*text-align: center;*/
	}

	.wordpress_button {
		width: 75px;
		margin-bottom: 5px;
		margin-left: 4px;
	}

	@keyframes css_spin {									
	0% {
		transform: rotate(0deg);
	} 

	50% {
		font-size: 4.3em;
		font-weight: 800;
	}

	100% {
		transform: rotate(360deg);
	}
}

	/*** Skills ***/
	.skill_banner {
		font-size: 1.6em;
		line-height: 175px;
	}

	/*** Contact Me ***/
}

@media screen and (min-width: 1130px) {
    /*** General ***/
    .home_container h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	/*** About Me ***/
	p.intro {
		padding: 0 15%;
	}

	.border_skill {
		width: 200px;
		height: 200px;
	}

	/*** Skills ***/
	.skill_banner {
		font-size: 1.8em;
		line-height: 200px;
	}

	.popover {
		width: 200px;
		font-size: 1.7rem;
		/*font-family: 'Roboto', sans-serif;*/
		/*font-weight: 800;*/
		/*text-align: center;*/
	}

	.wordpress_button {
		width: 87px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	@keyframes css_spin {									
	0% {
		transform: rotate(0deg);
	} 

	50% {
		font-size: 4.6em;
		font-weight: 800;
	}

	100% {
		transform: rotate(360deg);
	}
}

	/*** Portfolio Work ***/
	/*.thumbnail_container {
		height: 275px;
		width: 275px;
	}

	div.thumbnail {
		width: 275px;
		height: 275px;
	}

	div.project_skill {
		font-size: 1.4em;
	}

	div.project_skill:nth-child(1){
		top: 30px;
	}

	div.project_skill:nth-child(2){
		top: 76px;
	}

	div.project_skill:nth-child(3){
		top: 122px;
	}

	div.project_skill:nth-child(4){
		top: 168px;
	}

	div.project_skill:nth-child(5){
		top: 214px;
	}*/
}

@media screen and (min-width: 1330px) {
	/*** General ***/
	h2 {
		font-size: 4.5rem;
	}

	/*** About Me ***/
	p.intro {
		padding: 0 18%;
	}

	/*** Skills ***/
	.border_skill {
		width: 225px;
		height: 225px;
	}

	.skill_banner {
		font-size: 2em;
		line-height: 225px;
	}

	.popover {
		width: 225px;
		font-size: 1.8rem;
		/*font-family: 'Roboto', sans-serif;*/
		/*font-weight: 800;*/
		/*text-align: center;*/
	}

	.wordpress_button {
		width: 100px;
		margin-bottom: 5px;
		margin-left: 6px;
	}

	@keyframes css_spin {									
	0% {
		transform: rotate(0deg);
	} 

	50% {
		font-size: 5.0em;
		font-weight: 800;
	}

	100% {
		transform: rotate(360deg);
	}
}

	/*** Portfolio Work ***/
	/*.thumbnail_container {
		height: 300px;
		width: 300px;
	}

	div.thumbnail {
		width: 300px;
		height: 300px;
	}

	div.project_skill {
		font-size: 1.5em;
	}

	div.project_skill:nth-child(1){
		top: 30px;
	}

	div.project_skill:nth-child(2){
		top: 81px;
	}

	div.project_skill:nth-child(3){
		top: 132px;
	}

	div.project_skill:nth-child(4){
		top: 183px;
	}

	div.project_skill:nth-child(5){
		top: 234px;
	}*/
}